html {
    scroll-padding-top: 72px;
}

:root {
    --header-color: rgb(30, 30, 30);
    --special-color: rgb(0, 120, 255);
    --body-color: rgb(78, 78, 78);
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--body-color);
    background-color: #f5f5f5;

}

.about-me h2,
.section-info p,
.contact h5 {
    position: relative;
    width: fit-content;
}

.about-me h2::before,
.section-info p::before,
.contact .send::before,
.contact .touch::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 70%;
    height: 5px;
    margin-top: 0.3125em;
    background-color: var(--special-color);
}


/* navbar */

.navbar-brand {
    font-size: 28px;
    letter-spacing: 1px;
}

.nav-link {
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
    letter-spacing: 0.4px;
    font-weight: 400;
    color: #4e4e4e;
    position: relative;

}

.nav-link:hover,
.nav-link:focus {
    color: var(--special-color);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--special-color);
}



.nested-ul>a>i {
    font-size: 12px;
    font-weight: 600;
}

.nested-ul>.dropdown-item:focus {
    background-color: transparent;
    color: var(--special-color);
}

.dropdown-item:hover {
    background-color: transparent;
    color: var(--special-color);
}

.nested-ul {
    position: relative;
}

.drop-menu-nested {
    top: 0;
    left: 100%;
    position: absolute;
    display: none;
}

.nested-ul:hover .drop-menu-nested {
    display: block;
}

.navbar ul li {
    margin-bottom: 0.5rem;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.dropdown-menu {
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.offcanvas-body {
    background-color: white;
}

.btn-close:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/************************************** header **************************************************/

.header-h1 {
    font-size: 3rem;
    font-weight: 600;
}

.header-p {
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    height: 20px;
    display: flex;
    justify-content: center;

}

header[id='home'] {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* *************************************************about************************************************** */

.about {
    padding-top: 4rem;
}

.about-container {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

figcaption span,
.skill h3 {
    font-size: 1.1rem;
    color: var(--header-color);
}

.about-me h2 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--header-color);
}


.about-me p {
    font-size: 1.25rem;
    font-weight: 300;
}

/* ****************************************************services *********************************************/

.section-info h2 {
    color: var(--header-color);
    font-size: 3rem;
    font-weight: 700;
}

.section-info p,
.section-info p::before {
    left: 50%;
    transform: translatex(-50%);
}

.section-info p::before {
    width: 10%;
}

.services .card {
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.services .card-body h3 {
    color: var(--header-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.services .card-body p {
    color: var(--body-color);
}

.services .card .icon {
    box-shadow: 0 0 0 10px #0078ff;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
}

.services .card .icon i {
    color: var(--header-color);
}

.services .card:hover .icon {
    background-color: var(--special-color);
}

.services .card:hover .icon,
.counter-item .icon {
    box-shadow: 0 0 0 10px #cde1f8;
}

.services .card:hover .icon i {
    color: white;
}

/* ****************************************************counter *******************************************************/
.counter,
.carousel-section,
.contact {
    padding: 8rem 0;
    background-image: linear-gradient(rgba(0, 120, 255, 0.6), rgba(0, 120, 255, 0.6)), url(image/counters-bg.jpg);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.counter-item .number {
    font-size: 2rem;
}

/* **************************************portfolio ************************************** */

.portfolio figure {
    overflow: hidden;
}

.portfolio .card-body p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--header-color);
}

.portfolio .card-body span {
    font-size: 0.8rem;
    font-weight: 400;
}

.portfolio .special {
    color: var(--special-color);
}

.portfolio .card .icon {
    width: 40px;
    height: 40px;
    border: 3px solid var(--special-color);
    top: 94%;
    left: 96%;
    transform: translate(-100%, -100%);
    cursor: pointer;
}

.portfolio .card .icon i {
    font-size: 1.5rem;
    color: var(--special-color);
}

.portfolio img {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    cursor: pointer;
}

.portfolio .card:hover img {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

/* *****************************************************carousel *************************************** */

.box img {
    width: 150;
    height: 150;
}

.carousel-section .carousel .box p {
    width: 100%;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.carousel-section,
.contact {
    background-image: linear-gradient(rgba(0, 120, 255, 0.6), rgba(0, 120, 255, 0.6)), url(image/overlay-bg.jpg);
    background-position: center;
}

/* *******************************************blog ******************************************************** */

.blog .card-body h3 {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--header-color);
}

.blog .card-body h3:hover {
    color: var(--special-color);
}

.blog .card-body p {
    color: var(--body-color);
}

.blog .image-footer img {
    width: 30px;
    height: 30px;
}

.blog .image-footer a {
    color: var(--header-color);
}

.blog .card-body h3,
.blog .image-footer a {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.blog .image-footer a:hover {
    color: var(--special-color);
}

.blog .card button {
    background-color: var(--special-color);
    width: fit-content;

}

.blog .card button h6 {
    font-size: 0.7rem;
    font-weight: 500;
}

/* *********************************************** contact ***************************************************** */
.contact {
    padding-bottom: 0;
    padding-top: 4rem;
    margin-top: 4rem;
    border-bottom: 1px solid  #0062d3;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
}

.contact h5 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--header-color);
}

.contact .send::before {
    width: 38%;
    height: 4px;
}

.contact form button {
    padding: 0.8rem 2rem;
    background-color: var(--special-color);
    border: 0;
}

.contact form button:hover {
    background-color: hsl(212, 100%, 60%);
    box-shadow: 0 0 0 5px #cde1f8;

}

.contact .touch::before {
    width: 55%;
    height: 4px;
}

.touch-column p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.875rem;
}

.touch-column ul i {
    color: var(--special-color);
}

.social .fa-regular {
    font-size: 3rem;
    color: var(--special-color);
}

.fa-stack {
    height: 3rem;
    width: 3rem;
    margin-right: 0.5rem;
}

.fa-stack:hover {
    background-color: var(--special-color);
    box-shadow: 0 0 0 5px #cde1f8;

}

.fa-stack:hover .social .fa-regular {
   color: transparent;
}

.fa-stack:hover .fa-stack-1x {
   color: white;
}

.fa-stack-1x {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: var(--header-color);
}

/* ***************************************************footer ********************************************** */

.footer {
    background-color: #0062d3;
    /* box-shadow: 5px 10px 20px var(--body-color) inset; */
}

/* ***************************************************media query ***************************************************** */



@media (min-width: 992px) {
    .offcanvas-body>ul>li>a {
        color: white;
    }

    .nav-link:hover,
    .nav-link:focus {
        color: white;
    }

    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link.show {
        color: var(--bs-navbar-active-color);
    }

    .nav-link::before {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background-color: white;
        left: 0;
        top: 85%;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

    .active::before {
        visibility: visible;
        width: 80%;
    }

    .nav-link:hover::before {
        visibility: visible;
        width: 80%;
    }


    .nav-item.dropdown:hover>.dropdown-menu {
        display: block;
        margin-top: 0;
    }

    .dropdown-menu {
        display: none;
    }

    .offcanvas-body {
        background-color: transparent;

    }

    .dropdown-menu {
        box-shadow: none;
    }

    .navbar ul li {
        margin-bottom: 0;
    }

    /* header */

    .header-h1 {
        font-size: 4.5rem;
    }

    .header-p {
        font-size: 2.5rem;
    }

    /* carousel */

    .carousel-section .carousel .box p {
        width: 60%;
    }

}


